{{> header }}

<body>
	{{> navbar }}

    <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1>El mejor café <em>&amp;</em> Restaurante <em>en</em> Neiva</h1>
							<h2>sigue nuestra fanpage <a href="https://www.facebook.com/r.villabon" target="_blank">Sisu</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-pull-1 img-wrap animate-box" data-animate-effect="fadeInRigth">
					<img src="assets/images/puesto1.jpg" alt="Una cliente feliz" width="400" height="500" align="right">
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					<div class="section-heading">
						<h2>SISU</h2>
						<p>Sisu siempre contando con la compañia de sus clientes</p>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>

{{> footer }}
</body>